@model Book

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price.ToString("\u20AC0.00")</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <label>Author: @Model.Author</label>
        <div class="year">
            <label for="year">Release year: @Model.ReleaseYear</label>
        </div>
        <p>@Model.LongDescription</p>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary btn-block" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-bookid="@Model.BookId">Add to cart</a>

            </p>
        </div>
    </div>
</div>