@model Book


<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="">
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("\u20AC0.00")</h3>
            <h3>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Name</a>
            </h3>
            <p>@Model.ShortDescription</p>
            <div class="author">
                <label for="author">Author: @Model.Author</label>
            </div>

        </div>
    </div>
</div>