@model Book


<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="">
        <div class="caption">
            <h4 class="pull-right">@Model.Price.ToString("\u20AC0.00")</h4>
            <h4>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Name</a>
            </h4>
            <p>@Model.ShortDescription</p>
            <div class="author">
                <label for="author">Author: @Model.Author</label>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary btn-block" 
                       asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart"
                       asp-route-bookId="@Model.BookId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
</div>